[Desktop Entry]
Exec=tor-messenger %u
Icon=tor-messenger
Type=Application
Categories=Network;
Name=Tor-Messenger
GenericName=Communication Tool based on Tor via XMPP and IRC
Comment[zh_CN]=基于Tor的使用XMPP和IRC协议的即时通讯工具
Comment[zh_TW]=基于Tor的使用XMPP和IRC协议的即时通讯工具
Comment[zh_HK]=基于Tor的使用XMPP和IRC协议的即时通讯工具
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=true
